*.bak
.idea
.s3
.DS_Store
idea-files.zip
node_modules
dist
doc/anm.html
doc/player.html
doc/builder.html
doc/API.html
doc/README.html
doc/api.pdf
doc/docco.css
doc/public
examples/files/anm
src/import/sample-scene.json
VERSION_LOG
deploy-www.sh
*sublime*
