*.bak
.idea
.DS_Store
idea-files.zip
node_modules
dist
doc/player.html
doc/builder.html
doc/API.html
doc/README.html
doc/api.pdf
doc/docco.css
VERSIONS
examples/files/anm
src/import/sample-scene.json
