*.bak
.idea
.s3
*.project.json
BUILD
VERSION_LOG
node_modules
dist
doc/API.html
doc/README.html
doc/embedding.html
doc/scripting.html
doc/api/*
test-scenes
deploy-www.sh
*sublime*
idea-files.zip
js-player.iml
